<h1>Create a new session to begin</h1>
<br>
<form action="/" method="post" class="indentForm">
	<input id="name" type="text" name="userName" placeholder="User name">
	<input type="submit" name="New User">
</form>